<%= form_with(model: [:admin, @book], html: { multipart: true }, class: "flex bg-white text-gray-900") do |form| %>
  <div class="w-full flex flex-col justify-between">
    <div class="mt-8 px-3 max-w-xl mx-auto w-full">
      <div>
        <%= form.text_field :title, placeholder: "Add a title", autocomplete: "off", class: "block w-full py-3 px-3 text-xl text-gray-900 font-medium border focus:outline-none border-transparent focus:border-gray-300" %>
      </div>
      <div>
        <%= form.text_area :description, placeholder: "Write a short description...", rows: "20", class: "block w-full py-3 px-3 text-base resize-none border focus:outline-none border-transparent focus:border-gray-300" %>
      </div>
    </div>
    <div class="p-3 border-t">
      <div class="flex items-center justify-end">
        <span class="shadow-sm rounded-md">
          <%= button_tag(class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out") do  %>
            <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M5 13l4 4L19 7"></path></svg>
            <%= action_name == "new" ? "Publish" : "Save changes" %>
          <% end %>
        </span>
        <span class="hidden sm:block ml-3 shadow-sm rounded-md">
          <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
            <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
            Settings
          </button>
        </span>
      </div>
    </div>
  </div>
  <aside style="height: calc(100vh - 64px)" class="bg-gray-50 max-w-xs w-full border-l border-gray-200">
    <div class="px-6 my-4">
      <div class="border-b border-gray-200">
        <button type="button" class="text-sm text-gray-700 font-medium py-3 w-full block inline-flex items-center justify-between focus:outline-none">
          <span>Author</span>
          <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"></path></svg>
        </button>
        <div class="mb-1 relative h-40 overflow-y-hidden flex flex-col">
          <div class="p-1">
            <div class="relative">
              <input type="text" class="block w-full form-input pl-9 pr-3 text-sm h-9">
              <div class="absolute inset-y-0 flex items-center left-0 pl-3">
                <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </div>
            </div>
            <ul class="mt-2 text-sm flex-1 overflow-y-auto">
              <%= form.collection_check_boxes :author_ids, Author.all, :id, :name, class: "inline-flex items-center" do |c| %>
                <div class="px-2 py-1.5">
                  <%= c.check_box class: "form-checkbox" %>
                  <%= c.label class: "ml-1" %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-b border-gray-200">
        <button type="button" class="text-sm text-gray-700 font-medium py-3 w-full block inline-flex items-center justify-between focus:outline-none">
          <span>Category</span>
          <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"></path></svg>
        </button>
        <div class="mb-1 relative h-40 overflow-y-hidden flex flex-col">
          <div class="p-1">
            <div class="relative">
              <input type="text" class="block w-full form-input pl-9 pr-3 text-sm h-9">
              <div class="absolute inset-y-0 flex items-center left-0 pl-3">
                <svg class="h-4 w-4 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </div>
            </div>
            <ul class="mt-2 text-sm flex-1 overflow-y-auto">
              <%= form.collection_radio_buttons :category_id, Category.all, :id, :title, class: "inline-flex items-center" do |r| %>
                <div class="px-2 py-1.5">
                  <%= r.radio_button class: "form-radio" %>
                  <%= r.label class: "ml-1" %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
<% end %>