<% authors.each do |author| %>
  <tr>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-gray-900 text-sm max-w-xs truncate leading-5">
      <%= author.name %>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
      <p class="truncate max-w-xs"><%= author.description %></p>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
      <%= author.books.count %>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
      <%= display_date(author.created_at) %>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
      <%= link_to "Edit", edit_admin_author_path(author.id), class: "text-indigo-600 hover:text-indigo-900" %>
      <%= link_to "Delete", admin_author_path(author.id), method: :delete, data: { confirm: "Are you sure?" }, class: "ml-2 text-red-600 hover:text-red-900" %>
    </td>
  </tr>
<% end %>